:root {
    --tomato: hsl(4, 100%, 67%);
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--charcoal-grey);
}

.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
}

.signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background-color: var(--white);
    padding: 1.25rem;
    border-radius: 36px;
}

.form-body {
    padding: 2rem 0 2rem 2rem;
    width: 400px;
}

.form-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

h1 {
    color: var(--dark-slate-grey);
    margin: 0.75rem 0;
    font-size: 56px;
}

.form-header p {
    margin-bottom: 2rem;
}

.list-item {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.list-item li, ul {
    all: unset;
}

.form-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.list-item p {
    margin: .25rem 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top: 2rem;
}

form label {
    color: var(--dark-slate-grey);
    font-weight: bolder;
    font-size: x-small;
}

form input {
    all: unset;
    padding: 1rem 1.5rem;
    border: 1px solid var(--grey);
    border-radius: 7px;

    &:focus {
        border: 1px solid var(--dark-slate-grey);
    }
}

button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-slate-grey);
    color: var(--white);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 7px;

    &:hover {
        background-image: linear-gradient(to left, #FF6A3A, #FF527B);
        cursor: pointer;
    }
}

.mobile-art {
    display: none;
}

.modal {
    display: none;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 12;
}

.modal-card {
    width: 400px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 10px var(--grey);
}

.modal-checkmark {
    background-image: linear-gradient(to left, #FF6A3A, #FF527B);
    height: 64px;
    width: 64px;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.modal h1 {
    font-size: 40px;
}

.email-span {
    font-weight: bold;
}

@media (max-width: 375px) {

}

.attribution {
    font-size: 11px; text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}